body {
    background-color: #0d0f17;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', serif;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}
main {
    flex: 1;
}

nav img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

footer .container a {
    color: white;
    font-size: 24px;
    margin: 0 10px; 
    transition: color 0.4s ease-in-out;
}

footer .container a:hover {
    color: #FFD700; 
}
/* Services Section */
.services-section {
    background-color: #0d0f17;
    padding: 80px 0;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #f7c552;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.title-underline {
    width: 80px;
    height: 3px;
    background-color: #f7c552;
    margin: 5px auto;
}

.section-title-bg {
    font-size: 60px;
    font-weight: bold;
    opacity: 0.05;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

/* Service Cards */
.service-card {
    background: #1a1c23;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.service-card i {
    color: #f7c552;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 18px;
    font-weight: bold;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(247, 197, 82, 0.3);
}
