body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', serif;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}
main {
    flex: 1;
}

nav img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

footer .container a {
    color: white;
    font-size: 24px;
    margin: 0 10px; 
    transition: color 0.4s ease-in-out;
}

footer .container a:hover {
    color: #FFD700; 
}
